<h1>Upload CSV File</h1>

<form action="/import/csv" method="post" enctype="multipart/form-data">
  <input type="file" name="csv_file" id="csv_file">
  <input type="submit" value="Upload CSV File">
</form>
